/*
    Scrutineering form style
    Created: December 2024
*/

* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.headerBlock {
    color: #000000;
    margin: auto;
    margin-top: 3%;
}

body {
    color: #000000;
    margin-left: 5%;
    margin-right: 5%;
}

input {
    margin: 1%;
    width: 60px;
}

p {
    font-size: 90%;
}

#boothInfo {
    border-width: 10%;
    border-color: #000000;
    border-style: solid;
    background-color: #e6e6e6;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

thead {
    background-color: #c1c1c1;
}

tr {
    font-size: 90%;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    border-style: solid;
    border-collapse: collapse;
}

td, th {
    width: 5%;
    text-align: center;
}

button {
    display: block;
    margin: auto;
    color: #ffffff;
}

#submitButton {
    width: 70%;
    height: 5%;
    background-color: #2050b1;
    border-color: #2050b1;
}

#clearButton {
    width: 30%;
    height: 5%;
    background-color: #4a4d53;
    border-color: #4a4d53;
    margin-right: 1%;
}
