* {
    /* background-color: #ffffff; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
}

.headerBlock {
    color: #000000;
    margin: auto;
    margin-top: 3%;
}

body {
    color: #000000;
    /* margin: auto; */
    margin-left: 5%;
    margin-right: 5%;
}

input {
    margin: 1%;
}

p {
    font-size: 90%;
}

#boothInfo {
    border-width: 10%;
    border-color: #000000;
    border-style: solid;
    background-color: #e6e6e6;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
